#root {
    max-width: 100vw;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
body {
    font-family: Monospace;
    margin: 0;
    padding: 20px;
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    margin-left: 5px;
    border-radius: 25px;
    background-color: yellow;
    cursor: pointer;
}
.button-large {
    padding: 10px;
    font-size: 1.6rem;
    min-width: 100px;
}
.button-small {
    padding: 6px;
    font-size: 0.8rem;
    min-width: 70px;
    border-radius: 25px;
    background-color: yellow;
    cursor: pointer;
}
ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}